<% if @first_visit || current_user.nil? %>
  <div> First visit!</div>
<% end %>

<div class="container-techgets">
  <% @techgets.each do |techget| %>
    <%= techget.name %> <br>
  <% end %>
  <div id="map"></div>
</div>
