<div class="banner">
  <%= cl_image_tag current_user.photo, alt: current_user.name %>
  <div class="banner-title">
    <h1>Rental dashboard</h1>
    <ul>
      <li><a style="text-decoration: none; color: black" href="#devices">My devices</a></li>
      <li><a style="text-decoration: none; color: black" href="#rentals">My rentals</a></li>
      <li><a style="text-decoration: none; color: black" href="#rented">Device I'm lending</a></li>
    </ul>
  </div>
</div>
<div class="app-container">
  <%= render 'rentals/index/my-devices' %>
  <%= render 'rentals/index/rental' %>
  <%= render 'rentals/index/rented' %>
</div>
