.product-description {
  margin-bottom: 40px;
}

.product-owner {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  img {
    margin-left: 24px;
  }
  p {
    margin: 0;
  }
}

.product-form {
  width: 500px;
}

.product {
  margin: 64px 0;
}
