.app-container {
  margin: 0 auto;
  width: 800px;
  &.small {
    width: 400px;
  }
}

@media (max-width: 992px) {
  .app-container {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .app-container {
    width: 500px;
    &.small {
      width: 300px;
    }
  }
}
@media (max-width: 576px) {
  .app-container {
    width: 270px;
  }
}
